:root {
    user-select: none;
    -moz-user-select: none;
    --background-contrast: 95%;
    --background-blur: 3px;
    --loadbar-color: #ffffff5b;
    --loadbar-progress-color: #000000df;
    /* --loadbar-progress-color: ; */
    --loadbar-height: 20px;
    --footer-font-color: #dfdfdf98;
    --footer-font-size: 24px;
    --fadeTo-Color: #222222;
}

.loadname {
    font-size: medium;
}